body {
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #fec89a;
    margin: 0;
    text-align: center;
    background-image: url("ramen-7187810_1920.jpg");
    background-position: center;
    color: #f8edeb;


}



nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

h1 {
    text-decoration-line: underline;
    margin: 50px 0 50px 0;
}

section {
    width: 60vw;
    height: 30vh;
    background-color: #f9dcc4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;



}

div {
    width: 10vw;
    height: 20vh;
    background-color: #f8edeb;
    border: 3px solid #fcd5ce;
    border-radius: 12px;



}

footer {
    width: 60vw;
    height: 10vh;
    background-color: #ffb5a7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.southAmerica,
.northAmerica,
.new,
.old,
.asia,
.africa,
.australia,
footer {
    margin: 10px 0 10px 300px;
    border-radius: 12px;

}

a {
    color: #f8edeb;
    ;
}

.southAmerica .northAmerica .australia .africa .asia .old a {
    color: #f8edeb;
}

.new a {
    color: #f8edeb;
}

.old div:nth-of-type(1) {
    background-image: url("https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress&cs=tinysrgb&w=200");
    background-position: center;
}

.old div:nth-of-type(2) {
    background-image: url("https://images.pexels.com/photos/2862070/pexels-photo-2862070.jpeg?auto=compress&cs=tinysrgb&w=220");
    background-position: center;
}



.old div:nth-of-type(3) {
    background-image: url("https://images.pexels.com/photos/3472764/pexels-photo-3472764.jpeg?auto=compress&cs=tinysrgb&w=220");
    background-position: center;
}

.old div:nth-of-type(4) {
    background-image: url("https://images.pexels.com/photos/5397911/pexels-photo-5397911.jpeg?auto=compress&cs=tinysrgb&w=300");
    background-position: center;
}

.new div:nth-of-type(1) {
    background-image: url("https://images.pexels.com/photos/3490963/pexels-photo-3490963.jpeg?auto=compress&cs=tinysrgb&w=150");
    background-position: center;
}

.new div:nth-of-type(2) {
    background-image: url("https://images.pexels.com/photos/6580703/pexels-photo-6580703.jpeg?auto=compress&cs=tinysrgb&w=220");
    background-position: center;
}

.new div:nth-of-type(3) {
    background-image: url("https://images.pexels.com/photos/699466/pexels-photo-699466.jpeg?auto=compress&cs=tinysrgb&w=150");
    background-position: center;
}



/* countries styling for container */


.asia div:nth-of-type(1) {
    background-image: url("https://images.pexels.com/photos/7824514/pexels-photo-7824514.jpeg?auto=compress&cs=tinysrgb&w=215");
    background-position: center;
}

.asia div:nth-of-type(2) {
    background-image: url("https://images.pexels.com/photos/2412603/pexels-photo-2412603.jpeg?auto=compress&cs=tinysrgb&w=150");
    background-position: center;
}



.asia div:nth-of-type(3) {
    background-image: url("https://images.pexels.com/photos/1108701/pexels-photo-1108701.jpeg?auto=compress&cs=tinysrgb&w=220");
    background-position: center;
}

.asia div:nth-of-type(4) {
    background-image: url("https://images.pexels.com/photos/3018977/pexels-photo-3018977.jpeg?auto=compress&cs=tinysrgb&w=200");
    background-position: center;

}

/* styling for african countries  */


.africa div:nth-of-type(1) {
    background-image: url("https://images.pexels.com/photos/11313729/pexels-photo-11313729.jpeg?auto=compress&cs=tinysrgb&w=220");
    background-position: center;
}

.africa div:nth-of-type(2) {
    background-image: url("https://images.pexels.com/photos/3581916/pexels-photo-3581916.jpeg?auto=compress&cs=tinysrgb&w=220");
    background-position: center;
}

.africa div:nth-of-type(3) {
    background-image: url("https://images.pexels.com/photos/3199399/pexels-photo-3199399.jpeg?auto=compress&cs=tinysrgb&w=200");
    background-position: center;
}

.africa div:nth-of-type(4) {
    background-image: url("https://images.pexels.com/photos/2386192/pexels-photo-2386192.jpeg?auto=compress&cs=tinysrgb&w=200");
    background-position: center;
}

/* styling for australian countries  */
.australia div:nth-of-type(1) {
    background-image: url("https://images.pexels.com/photos/5326974/pexels-photo-5326974.jpeg?auto=compress&cs=tinysrgb&w=170");
    background-position: center;
}

.australia div:nth-of-type(2) {
    background-image: url("https://images.pexels.com/photos/11434413/pexels-photo-11434413.jpeg?auto=compress&cs=tinysrgb&w=200");
    background-position: center;
}

/* styling for North American countries  */
.northAmerica div:nth-of-type(1) {
    background-image: url("https://images.pexels.com/photos/1933239/pexels-photo-1933239.jpeg?auto=compress&cs=tinysrgb&w=300");
    background-position: center;
}

.northAmerica div:nth-of-type(2) {
    background-image: url("https://images.pexels.com/photos/64271/queen-of-liberty-statue-of-liberty-new-york-liberty-statue-64271.jpeg?auto=compress&cs=tinysrgb&w=180");
    background-position: center;
}

.northAmerica div:nth-of-type(3) {
    background-image: url("https://images.pexels.com/photos/12282043/pexels-photo-12282043.jpeg?auto=compress&cs=tinysrgb&w=145");
    background-position: center;
}

/* styling for South American countries  */
.southAmerica div:nth-of-type(1) {
    background-image: url("https://images.pexels.com/photos/709552/pexels-photo-709552.jpeg?auto=compress&cs=tinysrgb&w=300");
    background-position: center;
}

.southAmerica div:nth-of-type(2) {
    background-image: url("https://images.pexels.com/photos/11545135/pexels-photo-11545135.jpeg?auto=compress&cs=tinysrgb&w=300");
    background-position: center;
}

.southAmerica div:nth-of-type(3) {
    background-image: url("https://images.pexels.com/photos/10575015/pexels-photo-10575015.jpeg?auto=compress&cs=tinysrgb&w=180");
    background-position: center;
}
